@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}
.mainShoe{color: white;
}
.logo {
    width: 120px;
}

a {
    text-decoration: none;
    color: white;
}

.logotext {
    margin-top: -30px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
}

.grouplogo {
    padding-left: 54px;

}

.navigation {
    display: flex;
    width: 755px;
    justify-content: space-around;
    align-items: center;
}

.lik {
    font-size: 24px;
    list-style: none;
    font-weight: 700;
}

.shoeimg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .shoeimg>p{
    width: min-content;
} */
h1>span {
    font-size: 72px;
    display: block;
}

.textt {
    padding-left: 40px;
}

.imager {
    background-size: cover;
    background-image: url(./images/background.png);
    width: 600px;
    height: 750px;
    position: relative;
}

.shoe {
    position: absolute;
    right: 200px;
    z-index: 9;
    top: 100px;
    max-width: 576px;
}

.shoe-style {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.shoe-style>p {
    font-size: 48px;
    max-width: 574px;
    font-family: 'Archivo';
    margin-bottom: 30px;
}

.flowshoe {
    width: 50vw;
}

.cont {
    position: relative;
    padding: 20px;
}

.heel {
    width: 100%;

}

.heeltext {
    width: 245px;
    z-index: 9;
    text-align: left;
    font-size: 20px;
    position: absolute;
    left: 80px;
    top: 50px;
}

.cap {
    font-size: 32px;
}

.ar2 {
    left: 150px;
    width: 200px;
    top: 150px;
    position: absolute
}

.ar1 {
    right: 300px;
    width: 200px;
    top: 100px;
    position: absolute
}
.cap,.front,.tract{
    margin-bottom: 10px;
}
.frontext {
    width: 245px;
    text-align: left;
    font-size: 20px;
    position: absolute;
    right: 80px;
    top: 150px;
    z-index: 9;
}
.traction {
    width: 245px;
    text-align: left;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 380px;
    z-index: 9;
}
.ar3{
    position: absolute;
    bottom: 0;
    left: 500px;
    width: 200px;
}

.pant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-right: 100px;
}
.pent{
    height: 600px;
    margin-top: -20px;
}

.right{
    max-width: 500px;
}
.wall{
    height: 500px;
    width: 399px;
    background-image: url(./images/wall.png);
    /* transform: rotate(90deg); */
    margin-left: 80px;
}
.about{
    font-size: 60px;
}
.info{
    font-size: 20px;
}

.mainbox{
    background-image: url(./images/peoplebg.png);
    height: 800px;
    background-size: cover;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    align-items: center;
flex-direction: column;
}
.hed{

    font-size: 64px;
    text-align: center;
}
.coll{
    display: flex;
    justify-content: space-around;
gap: 70px;
    align-items: center;
}
.coll img{
    border-radius: 50%;
    height: 250px;

}
.coll p{
    width: 300px;
    font-size: 20px;

}
.inf{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.map{
    height: 400px;
    overflow: hidden;
border-radius: 10px;
}

.footlog{
    width: 40px;
    margin-bottom: -10px;

}
.foottext{
    font-size: 8px;
}

svg{
    width: 20px;
    margin-bottom: -5px;
}
.contactus{
    width: 300px;
    font-size: 24px;
}
.boldcontact{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}
.USA{
    line-height: 30px;
}
.imgs{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.deve{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.footimg{
    margin-right: 10px;
}

.glass-effect {
  background: rgba(21, 19, 19, 0.2); /* Thoda transparent color */
  backdrop-filter: blur(10px);          /* Peeche ka content blur karega */
  -webkit-backdrop-filter: blur(10px);  /* Safari support ke liye */
}